<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>REAL- Radiology Enrichment Archive for Learning</title>

  <meta name="description"
    content="This repository aims to become a central
    place to share useful resources and document, especially in the context of studying Master of Radiology offered by University of Malaya">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/4d1f1491a3.js" crossorigin="anonymous"></script>
</head>

<body>