<%- include('partials/header'); %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <a href="/">
      <img src="/images/logo.png" alt="My_Logo" style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding-top: 50px;">
     </a>
  </div>
  <div class="row justify-content-center"">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <p style="text-align: center;"> 
        This repository aims to become a central
        place to share useful resources and document,
        especially in the context of studying <a href="https://medicine.um.edu.my/master-of-radiology-mrad">Master of Radiology offered by University of Malaya</a>
      </p>
    </div>
  </div>
</div>

<br><hr><br>
<!-- Calculator -->

<div class="container-fluid">
  <div class="row justify-content-center">
      <h3 style="text-align: center;">Incidentalomas</h3>
      <br>
  </div>
  <div class="row justify-content-center"">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <!-- Start editing here -->
      <!-- Adrenal adenomas -->
      <details>
        <summary><strong>Adrenal adenoma</strong></summary>
        <img src="/images/ref/adenomas_protocol.jpeg" alt="PPE_protocol" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">

        </details>
    </div>
  </div>
</div>

<br><hr><br>


<%- include('partials/footer'); %>