<%- include('partials/header'); %>

<div>
    <img class="logo " src="/images/logo.png" alt="My_Logo" style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding-top: 50px;">
    <p style="padding: 0px 200px; text-align: center;"> 
        This repository aims to become a central
        place to share useful resources and document,
        especially in the context of studying <a href="https://medicine.um.edu.my/master-of-radiology-mrad">Master of Radiology offered by University of Malaya</a>
    </p>
</div>

<br><hr><br>


<div>
  <div>
    <h2 style="text-align: center;">Exams related information</h2>
    <br>

    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Exam Table According to Years</strong></summary>
    <div>
        <table class="table-sm table table-bordered table-hover" style="table-layout: fixed; vertical-align: middle; text-align: center; width: 389px; margin-left: auto; margin-right: auto;">
            <colgroup>
            <col style="width: 80px">
            <col style="width: 67px">
            <col style="width: 55px">
            <col style="width: 54px">
            <col style="width: 91px">
            <col style="width: 99px">
            <col style="width: 128px">
            <col style="width: 92px">
            </colgroup>
            <thead class="thead-dark">
              <tr>
                <th>YEAR</th>
                <th>OSPE</th>
                <th>OSCE</th>
                <th>MCQ</th>
                <th>VIVA</th>
                <th>FILM REPORTING</th>
                <th>RAPID REPORTING</th>
                <th>THESIS DEFENSE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
              </tr>
              <tr>
                <td>2</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
              </tr>
              <tr>
                <td>3</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✘</td>
                <td>✘</td>
              </tr>
              <tr>
                <td>4</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
              </tr>
            </tbody>
        </table>
    </div>
    </details>
  </div>
  <br>
  <div>
    <h2 style="text-align: center;">Thesis and Case Reports</h2>
    <br>

    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Thesis Progression Table</strong></summary>
    <p style="margin-left: 300px; margin-right: 300px;">Student are required</p>
    </details>
    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Thesis Guidelines</strong></summary>
    <a href="/files/guidelines_for_major_project.pdf" style="margin-right: 300px; margin-left: 300px;">Thesis Guidelines</a>
    </details>
  </div>
    

</div>

<br><hr><br>


<%- include('partials/footer'); %>