<%- include('partials/header'); %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <a href="/">
      <img src="/images/logo.png" alt="My_Logo"
        style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding-top: 50px;">
    </a>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <p style="text-align: center;">
      This repository aims to become a central
      place to share useful resources and document,
      especially in the context of studying <a href="https://medicine.um.edu.my/master-of-radiology-mrad">Master of
        Radiology offered by University of Malaya</a>
    </p>
    <p style=" text-align: center;">
      If you are a new student joining us, please click <a href="/registration">here</a>.
    </p>
    <p style=" text-align: center;">
      For calculators and reference, please click <a href="/cal">here</a>.
    </p>
  </div>
</div>
</div>

<br>
<hr><br>
<!-- Work Related Information -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">Work Related Information</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <!-- Start editing here -->
    <!-- Credentialing and Privileging -->
    <details>
      <summary><strong>Credentialing and Privileging</strong></summary>
      <p>
        C&P certification is mandatory for all
        healthcare providers <b>PRIOR</b> to engaging in clinical work in UMMC.
        <br><br>
        C&P certification has to be renewed every <b>two</b> years.
        <br>
        You will be unable to fill your oncall claims, if you failed to renew your C&P.
        <br><br>
        You will also need to update your APC information on the portal to be able to claim oncall.
        <br><br>
        <a href="/files/How to add APC information.pdf">Click here for a guide on How to add APC information</a>
        <br><br>
        Click <a href="http://cp.ummc.edu.my/" target="_blank">here</a> to register or renew your credentials.
        <br><br>
      </p>
    </details>
    <!-- Claiming oncall -->
    <details>
      <summary><strong>Oncall Claim</strong></summary>
      <p>
        Oncall claims are divided into <b>passive</b>, <b>activated passive</b> and <b>active</b> calls.
        <br><br>
        <b>Passive</b>: You are oncall, but you only clocked less than 4 hours of work in the hospital. <br>
        <b>Claim: Weekday RM80, Weekend RM90</b><br><br>
        <b>Activated Passive</b>: You are oncall and clocked equal or more than 4 hours of work in the hospital.<br>
        <b>Claim: Weekday RM120, Weekend RM130</b><br><br>
        <b>Active</b>: You are oncall and will be staying in the hospital for 24 hours. - only done by 4th year
        students<br>
        <b>Claim: Weekday RM200, Weekend RM220</b><br><br>

        Make sure to submit your claim within <b>90</b>days from your oncall months, or you will have a lot more trouble
        claiming
        it later. You can access your claim site from the <a href="http://my.ummc.edu.my/" target="_blank">main hospital
          portal</a>.
        <br><br>
        For a brief guide for oncall claims please click <a href="/files/claims.pdf" target="_blank">here</a>.
      </p>
    </details>
    <!-- Reneweing APC -->
    <details>
      <summary><strong>Renewing APC</strong></summary>
      <p>
        For new registration, click <a href="https://meritsmmc.moh.gov.my/register" target="_blank">here</a>. <br>
        Otherwise, click <a href="https://meritsmmc.moh.gov.my" target="_blank">here</a> to login. <br>
        <p>Please prepare these documents before hand, if you are a new to MERITS</p>
        <ul>
          <li>
            Professional Indemnity Insurance dated from 01-Jan-202x to 31-Dec-202x from your provider of choice.
          </li>
          <li>
            Identity Card(Back and Front) and Birth Certificate.
          </li>
          <li>
            Full Registration Certificate.
          </li>
          <li>
            Recent Passport-size Photograph.
          </li>
          <li>
            SPM and Basic Medical Degree.
          </li>
        </ul>
      </p>
    </details>
    <!-- Posting Schedule -->
    <details>
      <summary><strong>Posting Schedule</strong></summary>
      <a href="/files/posting/year_1.pdf" target="_blank">Year I</a>
      <br>
      <a href="/files/posting/year_2.pdf" target="_blank">Year II</a>
      <br>
      <a href="/files/posting/year_3.pdf" target="_blank">Year III</a>
      <br>
      <a href="/files/posting/year_4.pdf" target="_blank">Year IV</a>
      <br>
      <br>
    </details>
    <!-- Weekly Roster-->
    <details>
      <summary><strong>Weekly Roster</strong></summary>
      <a href="/files/posting/roster.pdf" target="_blank">Roster</a>
      <br>
      <object width="600" height="500" type="application/pdf" data="/files/posting/roster.pdf">
        <p>Roster is not able to be displayed on mobile. Please click the link above to download instead</p>
        <br>
        <br>
      </object>
    </details>

    <!-- Covid related protocol -->
    <details>
      <summary><strong>Covid Related Protocol</strong></summary>
      <p>Protocol involving selecting appropriate PPE</p>
      <img src="/files/covid/PPE_protocol.jpeg" alt="PPE_protocol"
        style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
      <p>click <a href="/files/covid/PPE_color_coding.pdf" target="_blank">here</a> for PPE set up</p>
      <br>
      <br>
    </details>
  </div>
</div>
</div>

<br>
<hr>

<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- Exam Information -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">Classes and Exam Information</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <details>
      <summary><strong>Class Timetable</strong></summary>
      <p>
        Students are required to fill in the attendance sheet and submit it to the Department. 
        The form can be found by clicking <a href="/files/class/attendance.pdf" target="_blank">here</a>.
      </p>
      <a href="/files/class/year-one-dec2020-intake.pdf" target="_blank">Year One Timetable</a>
      <br>
      <a href="/files/class/year-two-2020.pdf" target="_blank">Year Two Timetable</a>
      <br>
      <a href="/files/class/year-three-2020.pdf" target="_blank">Year Three Timetable</a>
      <br><br>
    </details>

    <!-- <details>
      <summary><strong>Exam Schedule(Updated)</strong></summary>
      <a href="/files/exam/film_reporting_part2.pdf" target="_blank">Part II - Film Reporting Grouping and Timing</a>
      <br>
      <a href="/files/exam/rapid_reporting_part3.pdf" target="_blank">Part III - Rapid Reporting and
        Grouping</a><br><br>
    </details> -->

    <!-- Exam table -->
    <details>
      <summary><strong>Exam Table According to Years</strong></summary>
      <br>
      <div>
        <table class="table-sm table table-bordered table-hover"
          style="table-layout: fixed; vertical-align: middle; text-align: center; width: 389px; margin-left: auto; margin-right: auto;">
          <colgroup>
            <col style="width: 80px">
            <col style="width: 67px">
            <col style="width: 55px">
            <col style="width: 54px">
            <col style="width: 91px">
            <col style="width: 99px">
            <col style="width: 128px">
            <col style="width: 92px">
          </colgroup>
          <thead class="thead-dark">
            <tr>
              <th>YEAR</th>
              <th>OSPE</th>
              <th>OSCE</th>
              <th>MCQ</th>
              <th>VIVA</th>
              <th>FILM REPORTING</th>
              <th>RAPID REPORTING</th>
              <th>THESIS DEFENSE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>✔</td>
              <td>✔</td>
              <td>✔</td>
              <td>✔</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
            </tr>
            <tr>
              <td>2</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
            </tr>
            <tr>
              <td>3</td>
              <td>✘</td>
              <td>✘</td>
              <td>✔</td>
              <td>✔</td>
              <td>✔</td>
              <td>✘</td>
              <td>✘</td>
            </tr>
            <tr>
              <td>4</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✘</td>
              <td>✔</td>
              <td>✔</td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
    <details>
      <summary><strong>Exam caveats due to covid-19</strong></summary>
      <a href="/files/covid/sop_conjoint.pdf">SOP for conjoint exam</a>
      <br>
    </details>
  </div>
</div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- Thesis and Case Reports -->
<br>
<hr>

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">Thesis and Case Reports</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <!-- <details>
      <summary><strong>Thesis Progression Table</strong></summary>
      <p>
        -in progress-
      </p>
    </details> -->
    <details>
      <summary><strong>Guidelines</strong></summary>
      <p><a href="/files/thesis/Guidelines for Thesis Preparation.pdf" target="_blank">Guidelines for Thesis Preparation</a> - updated 28/12/2020</p>
      <p><a href="/files/guidelines_for_case_report.pdf" target="_blank">Case report guidelines</a></p>
      <p><a href="/files/cover_letter_example.pdf" target="_blank">Example of cover letter for case report and thesis submission</a></p>
      <p><a href="/files/thesis/APA-Guide.pdf" target="_blank">APA guidelines</a> - updated 28.12.2020</p>
      <p><a href="/files/thesis/Guide to producing photos in MRad theses.pdf" target="_blank">Guide to producing photos in MRAD thesis</a></p>
      <p><a href="https://www.presentationpoint.com/blog/convert-powerpoint-to-jpeg/"target="_blank">How to save images as 300dpi all the
        time</a></p>
      <p><a href="/files/schedule_thesis_submit.pdf" target="_blank">Thesis and case report submission dates</a> - July 2020 Batch</p>
      <p><a href="/files/thesis/Thesis Template - TYPE REPORT DIRECTLY IN HERE.docx">Download thesis template</a></p>
    </details>
    <details>
      <summary><strong>Case Report and Thesis Submission Date - 2021</strong></summary>
      <p><a href="/files/thesis/general_schedule.pdf" target="_blank">General Schedules and Timeline</a> - updated 16.1.2021</p>
      <object width="600" height="500" type="application/pdf" data="/files/thesis/general_schedule.pdf">
        <p>pdf is not able to be displayed on mobile. Please click the link above to download instead</p>
        <br>
        <br>
      </object>
      <p><a href="/files/thesis/thesis_presentation.pdf" target="_blank">VIVA and Thesis Presentation</a> - updated 16.1.2021</p>
      <object width="600" height="500" type="application/pdf" data="/files/thesis/general_schedule.pdf">
        <p>pdf is not able to be displayed on mobile. Please click the link above to download instead</p>
        <br>
        <br>
      </object>
    </details>
    <details>
      <summary><strong>Supervisor list</strong></summary>
      <p><a href="/files/supervisor_list2021.pdf" target="_blank">List of supervisor</a> - updated 16.1.2021</p>
    </details>
    </div>
  </div>
</div>

<!-- Upcoming Conferences and Events -->
<br>
<hr>

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">Upcoming Conferences and Events</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <details>
      <summary><strong>19th Asian Oceanian Congress of Radiology(AOCR 2020)</strong></summary> <br>
      <p>
        AOCR is a congress for the Asian Oceanian Society of Radiology. The aim is to promote scientific collaborations,
        professional rapport, exchanges of knowledge and friendship amongst the Asian Oceanian region. The theme for the
        meeting is ‘From Pixel to Clarity’.
      </p>
      <p><b>Date: 1st - 4th July 2021</b></p>
      <p><b>Location: Kuala Lumpur Convention Centre</b></p>
      <p><b>Abstract Submission Deadline: 31st January 2021</b></p>
      <p>Top 500 Abstracts will be published in the Korean Journal of Radiology (KJR) Supplementary Issue (ISI Journal,
        JCR Impact Factor 3.73). 100 Youth Education Scholarships available. Submit your abstracts & Youth Education
        Scholarship application now</p>
      <br>
      <p>Click <a href="http://www.aocr2020.com/">here</a> to register.</p>
    </details>
  </div>
</div>

<!-- MYSIR RELATED -->

<!-- <div class="row justify-content-center"">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <details>
        <summary><strong>MYSIR Intervention Webinar Series</strong> - 12 December 2020</summary> <br>
        <p>
          The My Intervention team and MYSIR once again brings you this months Free Webinar on Hepatobilliary Intervention. 
          <br>
          We have a group of experienced speakers sharing their knowledge and experience in the field.
          <br>
          Do join us on the 12th of December from 2.30pm to 4.00pm. 
          <br>
          Use the QR code in the flyer to register. Limited to 300pax.
          <br>
        </p>
        <img src="/files/event/mysir/mysir_webinar_speakers.jpeg" alt="speakers" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
        <img src="/files/event/mysir/mysir_webinar_programs.jpeg" alt="programs" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
        <br>
        <img src="/files/event/mysir/mysir_webinar_QR.png"  alt="QR codes" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"> 
        </details>
    </div>
  </div> -->
</div>
<br>
<hr>

<!-- Societies and Organization -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">Joining Societies and Organization </h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">

    <details>
      <summary><strong>College of Radiology</strong></summary>
      <br>
      <p>
        <b>Why join COR?</b><br>
        <b>COR</b> is an organization led by radiologist for radiologist. By joining <b>COR</b>, you will be part of the
        present
        and future of radiology in Malaysia whilst safeguarding and improving the practice of patient care,
        and advancing the science of radiology/biomedical imaging/clinical oncology/nuclear medicine
        through adoption of newer proven technologies and treatment modalities.
        <br><br>
        <b>COR</b> will connect you with clinical radiologists, clinical oncologists, medical physicists and allied
        professionals who aim to ensure that radiology is an essential part of the health care medical system.
        <br><br>
        Joining <b>COR</b> means you will be supporting activities in 3 main areas:
        <br>
        <ol>
          <li>
            <b>Quality and Safety: COR</b> regularly works with government and healthcare
            professionals to improve the quality of patient care with better outcomes, cost-effectiveness
            and safety.
          </li>
          <li>
            <b>Advocacy: COR</b> is fast becoming the voice of radiology in Malaysia by
            positively influencing the socio-economics of the practice of radiology/biomedical
            imaging/clinical oncology/nuclear medicine.
          </li>
          <li>
            <b>Education: COR</b> creates opportunities for continuing medical education
            and research for radiology/biomedical imaging/clinical oncology/nuclear medicine and allied
            health professions.
          </li>
        </ol>
        <br>
        <b>What benefits does COR membership provide? </b>
        <br>
        <ul>
          <li>A local and common voice for radiologist in Malaysia</li>
          <li>Discounted fees at COR organized seminars, both international and local for instance; SIG
            Seminars and MCOR </li>
          <li>Access to radiology resources such as the Guidelines for Clinical Practices in Radiology</li>
          <li>Opportunities to form and collaborate in a task force to tackle current issues faced by fellow
            peers</li>
          <li>Access to fellow allied professionals via online chat groups for technical support and guidance</li>
          <li>Ability to receive firsthand information on new and common practices in the radiology field</li>
          <li>Access and information to workshops, seminars and congresses related to radiology</li>
          <li>Forging closer relationships with other colleges to form partnerships in post graduate training
            and research activities</li>
          <li>Participating in educational community projects</li>
        </ul>
        <br>
        <b>Types of Membership</b>
        <br>
        <i>Ordinary Membership</i>
        <br>
        <ul>
          <li>Fully registered radiologists and oncologists who; are certified to be specialists by the
            appropriate authorities, have a recognized postgraduate or higher qualification, are of good
            character and conduct and have been testified by three referees, two of whom must be
            members of the Academy of Medicine of Malaysia.</li>
          <li>Membership fees: <b>RM650.00</b> (RM500 for entrance fee and RM150 for first year annual subscription).
            An annual fee of <b>RM150</b> must be paid by every third quarter of each year.</li>
        </ul>
        <br>
        <i>Associate Membership</i>
        <br>
        <ul>
          <li>Allied practitioners who do not fulfill the Ordinary membership criteria of the Academy of
            Medicine of Malaysia. e.g. persons in allied professions involved in medical research who are
            able to further the interest of the Academy of Medicine of Malaysia.</li>
          <li>Membership fees: <b>RM650.00</b> (RM500 for entrance fee and RM150 for first year annual subscription).
            An annual fee of <b>RM150</b> must be paid by every third quarter of each year.</li>
        </ul>
        <br>
        <i>Candidate Membership</i>
        <br>
        <ul>
          <li>Fully registered medical who; are undergoing a recognised training programme, have passed
            the first part of a recognised professional graduate postgraduate diploma examination.
            Candidate members may retain their membership for a period not exceeding six years.</li>
          <li>Membership fees: <b>RM100.00</b> for first year subscription and an annual fee of <b>RM100</b> must be
            paid by every third quarter of each year.</li>
        </ul>
        <br>
        <i>Lifetime Membership</i>
        <br>
        <p>Requirements are as per Ordinary Membership but the fees vary. See below for description.</p>
        <ul>
          <li>For <b>non-COR members below 50 years of age;</b> RM3000 (RM2500 for entrance fee and RM500
            for admin fee)</li>
          <li>For <b>COR members below 50 years of ages;</b> RM2500 (there will be no charge for admin fees)</li>
          <li>For <b>non-COR members above 50 years of age;</b> RM1500 (RM1500 for entrance fees and
            RM500 for admin fees)</li>
          <li>For <b>COR Members above 50 years of age;</b> RM1000 (there will be no charge for admin fees)</li>
        </ul>
        <br>

        <b>How to Become a COR Member?</b>
        <br><br>
        <p>As COR is under the umbrella body of the Academy of Medicine of Malaysia; to join COR one joins the
          Academy of Medicine, but under the College of Radiology. </p>
        <p>All applications must be filled in and signed by the applicant and must be accompanied by;</p>
        <ol>
          <li>Basic medical degree(s) - certified true copy</li>
          <li>Postgraduate qualification(s) - certified true copy</li>
          <li>A referral letter from course supervisor (for Candidate Members only)</li>
          <li>Online transfer/Cheque/banker’s order addressed to the Academy of Medicine of Malaysia</li>
        </ol>


        <b>Account Name : Academy of Medicine of Malaysia</b> <br>
        <b>Account No : 8731 0377 3485</b> <br>
        <b>Bank : Standard Chartered Bank</b> <br><br>

        <p>Email to: secretariat@acadmed.my</p>
        <br>

        <a href="/files/AMM_candidate.pdf">Academy of Medicine of Malaysia Candidate Membership Form</a>
        <br>
        <a href="/files/AMM_membership.pdf">Academy of Medicine of Malaysia Ordinary Membership Form</a>
        <br>

        <p>Click <a href="http://www.radiologymalaysia.org/">here</a> to visit the site.
        </p>
    </details>

    <br>
  </div>
</div>
</div>

<hr>
<!-- Graduation and Convocation -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">Graduation and Convocation</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">

    <details>
      <summary><strong>E-scroll and Graduate Verification Centre</strong></summary>
      <p>
        <b>Why e-scroll?</b><br>
        Unlike the traditional paper-based scrolls which can be forged,
        the e-Scroll has a unique signature and time stamped certificate which are captured in the system.
        <br><br>
        For online job applications, the graduates can upload or attach their e-Scrolls to be sent to their prospective
        employers or agents.
        <br><br>
        The e-Scroll system also allows access by employers and agents to verify the qualifications of prospective
        employees.
        <br>
        <br>

        Click <a href="https://graduand.um.edu.my/">here</a> to visit the site.
      </p>
    </details>

    <details>
      <summary><strong>Joining the Alumni</strong></summary>
      <p>
        <b>Connect</b><br>
        The spirit of alumniship is kept alive and vibrant in UM as long as the alumni
        stay connected - each alumnus connected to each other through shared memories,
        experiences and relationships via their alma mater.
        <br><br>
        <b>Communicate</b><br>
        UM's alumni can keep in touch with each other via the alumni portal, bulletin
        board, as well as facebook.
        <br><br>
        <b>Commit</b><br>
        Show your commitment by supporting the alumni activities.
        <br><br>
        <b>Contribute</b><br>
        Whatever contribution you make will benefit not only students in UM, but also
        the future of our nation.
        <br>
        <br>

        Click <a href="https://umalumni.um.edu.my/">here</a> to visit and register as an
        alumnus today.
      </p>
    </details>

    <details>
      <summary><strong>Latest Convocation News</strong></summary>
      <a href="/files/latest/convo.pdf">Deferment of convocation due to covid-19 situation</a>
    </details>
    <br>
  </div>
</div>
</div>

<br>
<hr><br>


<%- include('partials/footer'); %>