<%- include('partials/header'); %>

<div>
    <a href="/">
      <img class="logo " src="/images/logo.png" alt="My_Logo" style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding-top: 50px;">
    </a>
    <p style="padding: 0px 200px; text-align: center;"> 
        This repository aims to become a central
        place to share useful resources and document,
        especially in the context of studying <a href="https://medicine.um.edu.my/master-of-radiology-mrad">Master of Radiology offered by University of Malaya</a>
    </p>
    <p style="padding: 0px 200px; text-align: center;">
        If you are new student joining us, please click <a href="/registration">here</a>.
    </p>
</div>

<br><hr><br>

<div>

  <div>
    <h3 style="text-align: center;">Work Related Information</h3>
    <br>

    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Credentialing and Privileging</strong></summary>
    <p style="margin-left: 300px; margin-right: 300px;">
      C&P certification is mandatory for all 
      healthcare providers <b>PRIOR</b> to engaging in clinical work in UMMC.
      <br><br>
      C&P certification has to be renewed every <b>two</b> years.
      <br>
      You will be unable to fill your oncall claims, if you failed to renew your C&P.
      <br><br>
      Click <a href="http://cp.ummc.edu.my/">here</a> to register or renew your credentials.
      <br><br>
    </p>
    </details>
    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Posting Schedule</strong></summary>
    <a href="/files/posting/year_2.pdf" style="margin-right: 300px; margin-left: 300px;">Year II</a>
    <br>
    <a href="/files/posting/year_3.pdf" style="margin-right: 300px; margin-left: 300px;">Year III</a>
    <br>
    <a href="/files/posting/year_4.pdf" style="margin-right: 300px; margin-left: 300px;">Year IV</a>

  </div>

  <br>

  <div>
    <h3 style="text-align: center;">Exams related information</h3>
    <br>

    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Exam Table According to Years</strong></summary>
    <div>
        <table class="table-sm table table-bordered table-hover" style="table-layout: fixed; vertical-align: middle; text-align: center; width: 389px; margin-left: auto; margin-right: auto;">
            <colgroup>
            <col style="width: 80px">
            <col style="width: 67px">
            <col style="width: 55px">
            <col style="width: 54px">
            <col style="width: 91px">
            <col style="width: 99px">
            <col style="width: 128px">
            <col style="width: 92px">
            </colgroup>
            <thead class="thead-dark">
              <tr>
                <th>YEAR</th>
                <th>OSPE</th>
                <th>OSCE</th>
                <th>MCQ</th>
                <th>VIVA</th>
                <th>FILM REPORTING</th>
                <th>RAPID REPORTING</th>
                <th>THESIS DEFENSE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
              </tr>
              <tr>
                <td>2</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
              </tr>
              <tr>
                <td>3</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✘</td>
                <td>✘</td>
              </tr>
              <tr>
                <td>4</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
              </tr>
            </tbody>
        </table>
    </div>
    </details>
  </div>

  <br>

  <div>
    <h3 style="text-align: center;">Thesis and Case Reports</h3>
    <br>

    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Thesis Progression Table</strong></summary>
    <p style="margin-left: 300px; margin-right: 300px;">
    -in progress-
    </p>
    </details>
    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Guidelines</strong></summary>
    <a href="/files/guidelines_for_major_project.pdf" style="margin-right: 300px; margin-left: 300px;">Thesis guidelines</a>
    <br>
    <a href="/files/guidelines_for_case_report.pdf" style="margin-right: 300px; margin-left: 300px;">Case report guidelines</a>
    <br>
    <a href="/files/schedule_thesis_submit.pdf" style="margin-right: 300px; margin-left: 300px;">Thesis and case report submission dates</a>
    <br>
    <a href="/files/cover_letter_example.pdf" style="margin-right: 300px; margin-left: 300px;">Example of cover letter for case report and thesis submission</a>
    <br>
    <a href="https://www.presentationpoint.com/blog/convert-powerpoint-to-jpeg/" style="margin-right: 300px; margin-left: 300px;">How to save images as 300dpi all the time</a>
    </details>
  </div>
    
  <br>

  <div>
    <h3 style="text-align: center;">Graduation and Convocation</h3>
    <br>

    <details>
      <summary style="margin-left: 300px; margin-right: 300px;"><strong>E-scroll and Graduate Verification Centre</strong></summary>
      <p style="margin-left: 300px; margin-right: 300px;">
        <b>Why e-scroll?</b><br>
        Unlike the traditional paper-based scrolls which can be forged, 
        the e-Scroll has a unique signature and time stamped certificate which are captured in the system.
        <br><br>
        For online job applications, the graduates can upload or attach their e-Scrolls to be sent to their prospective employers or agents.
        <br><br>
        The e-Scroll system also allows access by employers and agents to verify the qualifications of prospective employees.
        <br>
        <br>
        
        Click <a href="https://graduand.um.edu.my/">here</a> to visit the site.
      </p>
    </details>

    <details>
      <summary style="margin-left: 300px; margin-right: 300px;"><strong>Joining the Alumni</strong></summary>
      <p style="margin-left: 300px; margin-right: 300px;">
        <b>Connect</b><br>
        The spirit of alumniship is kept alive and vibrant in UM as long as the alumni
        stay connected - each alumnus connected to each other through shared memories,
        experiences and relationships via their alma mater.
        <br><br>
        <b>Communicate</b><br>
        UM's alumni can keep in touch with each other via the alumni portal, bulletin
        board, as well as facebook.
        <br><br>
        <b>Commit</b><br>
        Show your commitment by supporting the alumni activities.
        <br><br>
        <b>Contribute</b><br>
        Whatever contribution you make will benefit not only students in UM, but also
        the future of our nation.
        <br>
        <br>
        
        Click <a href="https://umalumni.um.edu.my/">here</a> to visit and register as an
        alumnus today.
      </p>
    </details>

    <details>
    <summary style="margin-left: 300px; margin-right: 300px;"><strong>Latest Convocation News</strong></summary>
    <a href="/files/latest/convo.pdf" style="margin-right: 300px; margin-left: 300px;">Deferment of convocation due to covid-19 situation</a>
    </details>
  </div>

</div>

<br><hr><br>


<%- include('partials/footer'); %>