<%- include('partials/header'); %>

<div class="container-fluid">
    <a href="/">
     <img class="logo " src="/images/logo.png" alt="My_Logo" style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding-top: 50px;">
    </a>
    <p style="padding: 0px 200px; text-align: center;"> 
        This repository aims to become a central
        place to share useful resources and document,
        especially in the context of studying <a href="https://medicine.um.edu.my/master-of-radiology-mrad">Master of Radiology offered by University of Malaya</a>
    </p>
    <p style="padding: 0px 200px; text-align: center;">
      Welcome to Master of Radiology, University of Malaya. <br>
      Please refer to the compiled documents to help you smooth through the registration process.
    </p>
</div>

<br><hr><br>

<!-- Registration -->

<div class="container-fluid">
  <div class="row justify-content-center">
      <h3 style="text-align: center;">Registration</h3>
      <br>
  </div>
  <div class="row justify-content-center"">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <details>
        <summary><strong>Orientation Week</strong></summary>
        <p>
          There will be a two weeks orientation program, that will help you to familiarize yourself with your fellow
          colleague, ask question and get a feel for the places.
          <br>
          There will also be a mentor-mentee program, where a senior will be assigned to guide and answer any questions
          and doubts regarding your day to day work and studies.
          <br>
          Please refer below for orientation programs.
        </p>
        <a href="">Orientation program</a>
        <br>
        <a href="">Mentor-Mentee list</a>
        <br>
        <br>
        </details>
        <br>
    </div>
  </div>
</div>

<br>

<!-- FAQ -->

<div class="container-fluid">
  <div class="row justify-content-center">
      <h3 style="text-align: center;">FAQ</h3>
      <br>
  </div>
  <div class="row justify-content-center"">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <details>
        <summary><strong>How many leaves do we have?</strong></summary>
        <p>
          Each student is given 21 days leaves for each semester. 14 days normal leaves and 7 days radiation leaves.
          <br>
          Note that radiation leaves cannot be taken at a stretch. Max 2 days per month.
        </p>
        </details>
    
        <details>
          <summary><strong>Can unused leaves be carried forward to the next semester?</strong></summary>
          <p>
            No, all leaves must be taken before the semester ends. Any unused leaves will be burned when the new semester arrived.
          </p>
        </details>
        <br>
    </div>
  </div>
</div>


<br><hr><br>


<%- include('partials/footer'); %>