<%- include('partials/header'); %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <a href="/">
      <img class="logo " src="/images/logo.png" alt="My_Logo"
        style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding-top: 50px;">
    </a>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <p style="text-align: center;">
      This repository aims to become a central
      place to share useful resources and document,
      especially in the context of studying <a href="https://medicine.um.edu.my/master-of-radiology-mrad">Master of
        Radiology offered by University of Malaya</a>
    </p>
    <p style="text-align: center;">
      Welcome to Master of Radiology, University of Malaya. <br>
      Please refer to the compiled documents to help you smooth through the registration process.
    </p>
  </div>
</div>
</div>

<br>
<hr><br>

<!-- New Comers Information -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">New Comers Information</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <details>
      <summary><strong>Orientation Week</strong></summary>
      <p>
        There will be a two weeks orientation program, that will help you to familiarize yourself with your fellow
        colleague, ask question and get a feel for the places.
        <br>
        There will also be a mentor-mentee program, where a senior will be assigned to guide and answer any questions
        and doubts regarding your day to day work and studies.
        <br>
        Please refer below for orientation programs.
        <br>
        <a href="/files/introduction/Intro2020.pdf" target="_blank">Orientation Schedule</a>
        <object width="600" height="500" type="application/pdf" data="/files/introduction/Intro2020.pdf">
          <p>Orientation Schedule cannot be displayed on handheld. Click the download link above to download the
            schedule.</p>
          <br>
          <br>
        </object>
      </p>
      <a href="">Mentor-Mentee list</a>
      <br>
      <a href="/files/handbook_of_radiology.pdf">Handbook of Radiology</a>
      <br><br>
    </details>
  </div>
</div>

<!-- Classes schedule -->

<div class="row justify-content-center"">
  <div class=" col-md-6 col-xs-12 col-sm-12">
  <details>
    <summary><strong>Class Timetable and Posting information</strong></summary>
    <a href="/files/class/year-one-dec2020-intake.pdf" target="_blank">Timetable</a>
    <br> 
    <a href="/files/posting/year_1.pdf" target="_blank">Year I Rotation</a>
    <br>
    <object width="600" height="500" type="application/pdf" data="/files/posting/year_1.pdf">
      <p>Roster is not able to be displayed on mobile. Please click the link above to download instead</p>
      <br>
      <br>
    </object>
  </details>
</div>
</div>

<!-- Parking -->
<div class="row justify-content-center"">
  <div class=" col-md-6 col-xs-12 col-sm-12">
  <details>
    <summary><strong>Parking spot</strong></summary>
    <p>You can choose to park at exam hall parking in UM campus(free) or hospital parking located within the 
      hospital/outside the hospital. We have included the direction to campus parking in the pdf link below.
    </p>
    <a href="/files/introduction/parking.pdf" target="_blank">Parking guide</a>
    <br> 
    </object>
    <br>
  </details>
</div>
</div>


<!-- books -->
<div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
  <details>
    <summary><strong>Textbook and References</strong></summary>
    <div class="container">
      <b>First Year</b>
      <br>
      <div class="card-columns">
        <div class="card bg-light">
          <div class="card-body text-center ">
            <img src="/images/books/stephanieryans.jpg" style="max-width:100%;" alt="Stephanie Ryans">
            <p class="card-text"><a
                href="https://www.elsevier.com/books/anatomy-for-diagnostic-imaging/ryan/978-0-7020-2971-4"
                target="_blank" style="color:black">Anatomy for Diagnostic Imaging - Stephanie Ryans</a></p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="/images/books/farrs.jpg" style="max-width:100%;" alt="Farrs">
            <p class="card-text"><a
                href="https://www.elsevier.com/books/farrs-physics-for-medical-imaging/allisy-roberts/978-0-7020-2844-1"
                target="_blank" style="color:black">Farr's Physics for Medical Imaging</a></p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="/images/books/christensens.jpg" style="max-width:100%;" alt="Christensens">
            <p class="card-text"><a
                href="https://www.amazon.com/Christensens-Physics-Diagnostic-Radiology-Thomas/dp/0812113101/ref=sr_1_1?dchild=1&keywords=9780812113105&linkCode=qs&qid=1603863025&s=books&sr=1-1"
                target="_blank" style="color:black">Christensen's Physics of Diagnostic Radiology</a></p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="/images/books/chapman_technique.jpg" style="max-width:100%;" alt="Chapman">
            <p class="card-text"><a
                href="https://www.elsevier.com/books/chapman-and-nakielnys-guide-to-radiological-procedures/watson/978-0-7020-5181-4"
                style="color:black">Chapman's Guide to Radiological Procedures</a></p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="/images/books/weirs.jpg" style="max-width:100%;" alt="Jamie Weirs">
            <p class="card-text"><a
                href="https://www.elsevier.com/books/weir-and-abrahams-imaging-atlas-of-human-anatomy/spratt/978-0-7020-7926-9"
                style="color:black">Weir & Abrahams' Imaging Atlas of Human Anatomy</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
</details>


</div>
</div>
</div>

<br>
<hr>

<!-- FAQ -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <h3 style="text-align: center;">FAQ</h3>
    <br>
  </div>
  <div class="row justify-content-center"">
    <div class=" col-md-6 col-xs-12 col-sm-12">
    <details>
      <summary><strong>How many leaves do we have?</strong></summary>
      <p>
        Each student is given 21 days leaves for each semester. 14 days normal leaves and 7 days radiation leaves.
        <br>
        Note that radiation leaves cannot be taken at a stretch. Max 2 days per month.
      </p>
    </details>

    <details>
      <summary><strong>Can unused leaves be carried forward to the next semester?</strong></summary>
      <p>
        No, all leaves must be taken before the semester ends. Any unused leaves will be burned when the new semester
        arrived.
      </p>
    </details>

    <details>
      <summary><strong>Does sick leaves and pregnancy leaves affect annual leaves?</strong></summary>
      <p>
        All form of leaves will be deducted from the total of 21 days you have received for that semester.
      </p>
    </details>
    <details>
      <summary><strong>What about study leaves before exams?</strong></summary>
      <p>
        Study leaves will also be deducted from the aforementioned 21 days per semester allocation.
      </p>
    </details>
    <br>
  </div>
</div>
</div>


<br>
<hr><br>

<%- include('partials/footer'); %>